.Layout {
    border: 3px solid #eff5ff;
    min-width: 15rem;
    width: 55rem;
    border-radius: 5px;
    margin: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  
  .Layout-header {
    padding: 0.5rem;
    background: #cbd0d8;
    display: flex;
    justify-content: space-between;
  }
  
  .Layout-header-title {
    color: #1e1f1f;
    font-weight: bold;
  }
  
  @media screen and (max-width: 700px) {
    .Layout {
      width: 95%;
    }
  }