.App-header {
  text-align: center;
  font-family: 'Roboto';
  font-size: 4rem;
  margin: 0;
  padding: 3rem 0;
  color: #ebeef5;
  
}

.App-content {
  display: flex;
  justify-content: space-around;
}

#editor {
  resize: none;
  width: 100%;
  height: 70vh;
  display: block;
  overflow-y: auto;
  padding: 1rem;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: rgb(0, 0, 0);
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}

#preview {
  overflow-wrap: break-word;
  overflow-y: auto;
  padding: 1rem;
  height: 70vh;
  color: black;
  background: rgb(236, 230, 230);
}


@media screen and (max-width: 700px) {
  .App-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  #editor,
  #preview {
    max-height: 40vh;
  }
}